mat-sidenav {
  width: 266px ;
  background: #2b3134
}


  .example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    background:#F5F5F5;
    top: 64px;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  
  h1.example-app-name {
    margin-left: 8px;
  }
  
  
  